# Practice Set

### 1. Write a program to print Twinkle-Twinkle Little Star poem in python.

In [1]:
print("""Twinkle, twinkle, little star,
How I wonder what you are.
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.

In the dark blue sky you keep,
And often through my curtains peep,
For you never shut your eye,
‘Till the sun is in the sky.

As your bright and tiny spark,
Lights the traveller in the dark,–
Though I know not what you are,
Twinkle, twinkle, little star.""")

Twinkle, twinkle, little star,
How I wonder what you are.
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.

In the dark blue sky you keep,
And often through my curtains peep,
For you never shut your eye,
‘Till the sun is in the sky.

As your bright and tiny spark,
Lights the traveller in the dark,–
Though I know not what you are,
Twinkle, twinkle, little star.

### 2. Install an external module and use it to perform an operation of your interest.

In [3]:
import pandas as pd
dataset = pd.read_csv('data.csv')
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### 3. Write a python program to print the contents of a directory using os module.

In [8]:
import os
print(os.listdir())

['Chapter 1 Modules, Comments & Pip.ipynb', 'data.csv', 'Practice Set.ipynb']

### 4. Label the program written in problem 3 with comments.

In [9]:
'''
Author: Amir Ali
Date: 23-04-2021
'''
import os            # import os module
print(os.listdir())  # # use os module to show the list of directory of our current folder

['Chapter 1 Modules, Comments & Pip.ipynb', 'data.csv', 'Practice Set.ipynb']