# Chapter 4: Lists and Tuples

## List
* Python Lists are containers to store a set of values of any data type.

#### Create a list
* Lists are created using square brackets [ ]

In [2]:
a = [2, 4, 6, 8, 5, 3]
print(a)

[2, 4, 6, 8, 5, 3]

The list can contain different types of elements such as int, float, string, Boolean, etc.

In [4]:
mix_list = [3, "Amir", False, 3.4, None]
print(mix_list)

[3, 'Amir', False, 3.4, None]

#### List Indexing
List start from 0 Index to till the end of length of index

In [6]:
mix_list = [3, "Amir", False, 3.4, None]
mix_list[0]     # 3
mix_list[1]     # Amir 
mix_list[2]     # False
mix_list[3]     # 3.4
mix_list[4]     # None

#### List Slicing

In [16]:
num = [3 ,6 ,8 ,90 ,4, 32, 456 ,4, 324 ,12 ,34, 43]

In [18]:
num[:]     # acess all list

[3, 6, 8, 90, 4, 32, 456, 4, 324, 12, 34, 43]

In [19]:
num[0: ]    # start 0 to till the end

[3, 6, 8, 90, 4, 32, 456, 4, 324, 12, 34, 43]

In [20]:
num[:3]       # by default start 0 to index 3

[3, 6, 8]

In [21]:
num[ 2: 5]   # print the item of 2 to 4 in num list and here 5 is excluded

[8, 90, 4]

In [23]:
num[-10:-7]   # same above but negative index

[8, 90, 4]

In [25]:
num[-10:]

[8, 90, 4, 32, 456, 4, 324, 12, 34, 43]

#### Change Item in List
we can also change item in list

In [10]:
mix_list = [3, "Amir", False, 3.4, None]
mix_list[2] = True                        #  Index 2 Item(False) is replace by True
print(mix_list)

[3, 'Amir', True, 3.4, None]

In [11]:
mix_list = [3, "Amir", False, 3.4, None]
mix_list[3] = 2.5                       
print(mix_list)

[3, 'Amir', False, 2.5, None]

In [61]:
mix_list = [3, "Amir", False, 3.4, None]
mix_list[2] = "Ali"
print(mix_list)

[3, 'Amir', 'Ali', 3.4, None]

### List Method
Consider the following list:

L1 = [1, 8, 7, 2, 21, 15]

<b> sort() </b> – updates the list to [1,2,7,8,15,21] <br>
<b> reverse() </b> – updates the list to [15,21,2,7,8,1] <br>
<b> append(8) </b> – adds 8 at the end of the list <br>
<b> insert(3,8) </b> – This will add 8 at 3 index <br>
<b> pop(2) </b> – It will delete element at index 2 and return its value <br>
<b> remove(21) </b> – It will remove 21 from the last <br>

#### sort()
it sort the item in list

In [29]:
a = [1, 2 ,7 ,3 ,8, 2 ,5, 3]
a.sort()
print(a)

[1, 2, 2, 3, 3, 5, 7, 8]

In [30]:
a = ["Wavy", "Amir", "Share", "Wolf"]
a.sort()
print(a)

['Amir', 'Share', 'Wavy', 'Wolf']

In [36]:
a = ["bbar", "Amir" ,"Max", "ali"]
a.sort()                                  # captial sort first
print(a)

['Amir', 'Max', 'ali', 'bbar']

#### reverse()
it reverse the item in list

In [37]:
a = [1, 2 ,7 ,3 ,8, 2 ,5, 3]
a.reverse()
print(a)

[3, 5, 2, 8, 3, 7, 2, 1]

In [38]:
a = ["Wavy", "Amir", "Share", "Wolf"]
a.reverse()
print(a)

['Wolf', 'Share', 'Amir', 'Wavy']

In [39]:
a = ["bbar", "Amir" ,"Max", "ali"]
a.reverse()                                  
print(a)

['ali', 'Max', 'Amir', 'bbar']

#### append() 
add item at the end of the list

In [40]:
a = [1, 2 ,7 ,3 ,8, 2 ,5, 3]
a.append(6)
print(a)

[1, 2, 7, 3, 8, 2, 5, 3, 6]

In [41]:
a = ["Wavy", "Amir", "Share", "Wolf"]
a.append(3)
print(a)

['Wavy', 'Amir', 'Share', 'Wolf', 3]

In [42]:
a = [1, 2 ,7 ,3 ,8, 2 ,5, 3]
a.append("Amir")
print(a)

[1, 2, 7, 3, 8, 2, 5, 3, 'Amir']

#### Insert(index,item)
This will add item in given index

In [47]:
a = [1, 2 ,7 ,3 ,8, 2 ,5, 3]
a.insert(0, 1)                            # insert 1 at index 0
print(a)

[1, 1, 2, 7, 3, 8, 2, 5, 3]

In [48]:
a = ["Wavy", "Amir", "Share", "Wolf"]
a.insert(1, "AI")
print(a)

['Wavy', 'AI', 'Amir', 'Share', 'Wolf']

#### Pop()
It will delete element at given index

In [54]:
a = [1, 12, 2, 7, 3, 8, 2, 5, 3]
a.pop(1)                               # it remove the item of which is in index 1(12)
print(a)

[1, 2, 7, 3, 8, 2, 5, 3]

In [55]:
a = ["Wavy", "Amir", "Share", "Wolf"]
a.pop(3)                             # it remove the item of which is in index 3(wolf)
print(a)

['Wavy', 'Amir', 'Share']

#### remove()
It will delete element of given elemment

In [59]:
a = [1 ,3, 4 ,6 ,2 ,4 ,1 ]
a.remove(1)                    # it remove the 1 from given list 
print(a)

[3, 4, 6, 2, 4, 1]

In [60]:
a = ["Wavy", "Amir", "Share", "Wolf"]
a.remove("Wolf")                             # it remove the wolf from given list
print(a)

['Wavy', 'Amir', 'Share']

# Tuple
* A tuple is an immutable (can’t change or modified) data type in Python.

#### Create Tuple
* to create a Tuple we use  ()

In [3]:
a = ()     # create a empty tuple
print(a)

()

In [5]:
a = (1, )   # Tuple with only one element needs a comma

In [6]:
a = (1)

In [8]:
a = (1, 3 ,4 ,5 ,6)
print(a)

(1, 3, 4, 5, 6)

In [28]:
a = (1, 2.2, "amir", False, " ")       # Tuple can contain different types of elements such as int, float, string, Boolean, etc.
print(a)

(1, 2.2, 'amir', False, ' ')

#### Can't change or modified tuple
Once defined, tuple elements can’t be manipulated or altered.

In [ ]:
a = (1, 2 ,4 ,"amir")
a[1] = "Ali"           # TypeError: 'tuple' object does not support item assignment
print(a)

#### Tuple Index
same a list start from 0 index to till the end...

In [13]:
a = (1, 2.2, "amir", False)

In [14]:
a[0] # access 1 index

2.2

In [15]:
a[1] # access 2 index

2.2

In [16]:
a[2] # access 3 index

'amir'

In [17]:
a[3] # access 4 index

False

#### Slicing in Tuple

In [18]:
a = (1, 2.2, "amir", False)

In [19]:
a[1:3]

(2.2, 'amir')

In [20]:
a[-3:-1]

(2.2, 'amir')

In [21]:
a[0:]

(1, 2.2, 'amir', False)

In [22]:
a[-1:]

(False,)

In [23]:
a[:3]

(1, 2.2, 'amir')

In [24]:
a[2:4]

('amir', False)

In [25]:
a[2:]

('amir', False)

### Tuple methods:

Consider the following tuple,

a = (1, 7, 2)

<b>count(1) – </b>It will return number of times 1 occurs in a. <br>
<b>index(1) – </b>It will return the index of first occurrence of 1 in a. <br>

#### count()
check the occurance of given item

In [37]:
a = (1, 4 ,1 ,6 ,8 ,9, 1, 8)
a.count(1)                     # 1 appear 3 time

3

In [38]:
a = (1, 4 ,1 ,6 ,8 ,9, 1, 8)
a.count(8)                     # 8 appear 2 time

2

#### index()
check the index of given item

In [39]:
a = (1, 4 ,1 ,6 ,8 ,9, 1, 8)
a.index(8)

4

In [40]:
a = (1, 4 ,1 ,6 ,8 ,9, 1, 8)
a.index(1)

0

In [41]:
a = (1, 4 ,1 ,6 ,8 ,9, 1, 8)
a.index(9)

5