# Chapter 5: Dictionary and Sets

## Dictionary
Dictionary is a collection of key-value pairs.

### Create  Dictionary
create a dictionary we use {} with key and value

In [21]:
a  = {
    "name" : "Amir",
    "organization": "Wavy AI research Foundation",
    "University" : "Warsaw University of Technology",
    "Phone number": 2353453453
}
a

{'name': 'Amir',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Phone number': 2353453453}

In [22]:
# create a nested dictionary
a  = {
    "name" : "Amir",
    "organization": "Wavy AI research Foundation",
    "University" : "Warsaw University of Technology",
    "Code": {
        "rock" : "$%&^$",
        "sciro" : "_)*#@"
    }
}
a

{'name': 'Amir',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Code': {'rock': '$%&^$', 'sciro': '_)*#@'}}

### Access  Dictionary
to access a dictionary we use key

In [25]:
a

{'name': 'Amir',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Code': {'rock': '$%&^$', 'sciro': '_)*#@'}}

In [26]:
a["name"]    # access value of key(name)

'Amir'

In [27]:
a["Code"]

{'rock': '$%&^$', 'sciro': '_)*#@'}

In [28]:
a["Code"]["rock"]   # acess value of value of key(rock)

'$%&^$'

### Properties of Dictionaries

##### unordered
there is no ordered maintain in dictionery

In [30]:
a

{'name': 'Amir',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Code': {'rock': '$%&^$', 'sciro': '_)*#@'}}

#### mutable
we can change in dictioney

In [31]:
a

{'name': 'Amir',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Code': {'rock': '$%&^$', 'sciro': '_)*#@'}}

In [39]:
a["name"] = "Ansar"         # name amir change with ansar
a

{'name': 'Ansar',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Code': {'rock': '*^%$', 'sciro': '_)*#@'}}

In [41]:
a["Code"]["rock"] = "*^%$"     # code inside rock value change
a

{'name': 'Ansar',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Code': {'rock': '*^%$', 'sciro': '_)*#@'}}

#### Can't create duplicate
Cannot contain duplicate keys

In [54]:
# here create two keys(name) but it's override thereforew can't create duplicate key
a  = {
    "name" : "Amir",
    "name" : "Ali",
    "organization": "Wavy AI research Foundation",
    "University" : "Warsaw University of Technology",
    "Phone number": 2353453453
}
a

{'name': 'Ali',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Phone number': 2353453453}

### Dictionary Methods

In [43]:
a

{'name': 'Ali',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Phone number': 2353453453}

#### keys() 
returns a list containing dictionary’s keys.

In [44]:
a.keys()

dict_keys(['name', 'organization', 'University', 'Phone number'])

#### values()
returns a list containing dictionary’s values.

In [45]:
a.values()

dict_values(['Ali', 'Wavy AI research Foundation', 'Warsaw University of Technology', 2353453453])

#### Item()
returns a list of (key,value) tuple.

In [46]:
a.items()

dict_items([('name', 'Ali'), ('organization', 'Wavy AI research Foundation'), ('University', 'Warsaw University of Technology'), ('Phone number', 2353453453)])

#### update()
updates the dictionary with supplied key-value pairs.

In [55]:
a

{'name': 'Ali',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Phone number': 2353453453}

In [56]:
a.update({ "name": "Amir"})     # name Ali update with Amir
a

{'name': 'Amir',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Phone number': 2353453453}

In [57]:
a.update({ "code": "*&$^^*%$^"})    # update with new key which is code
a

{'name': 'Amir',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Phone number': 2353453453,
 'code': '*&$^^*%$^'}

#### get()
eturns the value of the specified keys

In [58]:
a

{'name': 'Amir',
 'organization': 'Wavy AI research Foundation',
 'University': 'Warsaw University of Technology',
 'Phone number': 2353453453,
 'code': '*&$^^*%$^'}

In [61]:
a.get("name")      # (key)  it return value

'Amir'

In [62]:
a["name"]     # we can also do with this way

'Amir'

Difference between get() and [] is:

In [65]:
a.get("name1")    # name1 is not in our dict so return None

In [67]:
a["name1"]        # name1 is not in our dict so reurn keyError

KeyError: 'name1'

## Sets
Set is a collection of non-repetitive elements.

### Create Set
Two method to create a Set

#### 1st method use {}

In [12]:

a = {1, 4, 6 , 9}
a

{1, 4, 6, 9}

In [8]:
print(type(a))

<class 'set'>

#### 2nd method use set()

In [9]:
b = set((1, 3, 5, 6, 7, 8))
b

{1, 3, 5, 6, 7, 8}

In [11]:
print(type(b))

<class 'set'>

### empty set

In [32]:
a = {}        # this sentex not create a empty set it create a dictionary
b = set(())     # this sentex create a empty set

In [33]:
print(type(a))
print(type(b))

<class 'dict'>
<class 'set'>

### Non-repetitive in Set
we can't create a duplicate item in set

In [20]:
a = {1 ,3 ,4 ,5 ,1}
a

{1, 3, 4, 5}

In [21]:
a = set((1 ,2, 3 ,2 ,2 ,2))
a

{1, 2, 3}

### Properties of Sets
1. Sets are <b>unordered</b> therefore elements order doesn’t matter
2. Sets are <b>unindexed</b> therefore cannot access elements by index
3. Set are <b>unchange</b> so there is no way to change items in sets
4. Sets cannot contain duplicate values

### Sets Method()

#### add()
we can add non repetitive value

In [36]:
a = {1 ,3 , 5}

a.add(4)
a.add(2)
a.add(6)

print(a)

{1, 2, 3, 4, 5, 6}

In [37]:
b = set()

b.add(3)
b.add(4)
b.add(4)    # no repetitive
b.add(2)

print(b)

{2, 3, 4}

#### len()
it return the length of set

In [45]:
a = {1, 4 ,6 ,7 ,3 , 6}
print(len(a))            #

5

#### remove()
it remove the given element from set

In [43]:
a = {1 ,43 ,6 ,8 ,3 , 4}
a.remove(6)                # it's 6 from given set
print(a)

{1, 3, 4, 8, 43}

In [44]:
a.remove(43)   
print(a)

{1, 3, 4, 8}

#### pop()
Removes an arbitrary element from the set and returns the element removed.

In [84]:
a = {1 ,2 ,3 , 4, 5, 6 ,8}
print(a)

{1, 2, 3, 4, 5, 6, 8}

In [85]:
a.pop()

1

In [86]:
a.pop()

2

In [87]:
a.pop()

3

In [88]:
print(a)

{4, 5, 6, 8}

#### clear()
Empties the set S

In [63]:
a = {1, 4 ,6 ,8 ,9}
a.clear()
print(a)

set()

#### union()
Returns a new set with all items from both sets

In [82]:
set1 = {1, 2 ,4 ,6 , 9,}
set2 = {3 ,5 ,7 ,8 ,10}
set3 = set1.union(set2)

In [83]:
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### intersection()
Returns a set which contains only items in both sets

In [80]:
set1 = {1, 2 ,4 ,6 , 9,}
set2 = {2, 3 ,5 ,6, 7 ,8 ,10}
set3 = set1.intersection(set2)

In [81]:
set3

{2, 6}