# Chapter 2: Variables, Datatype , Operators, Typecasting and Input

## Variables
A variable is a name given to a memory location in a program. For example

In [3]:
a = "amir"
b = 2352
c = 2.35

<b>Variable</b>– Container to store a value

<b>Keywords</b> – Reserved words in Python

<b>Identifiers </b> – class/function/variable name

## Data Type
Primarily there are the following data types in Python:
1. Integers
2. Floating point numbers
3. Strings
4. Booleans
5. None

Python is a fantastic language that automatically identifies the type of data for us.

In [1]:
a = 12               # Identifies a as class<int>
b = 0.235            # Identifies a as class<float>
c = "Amir"           # Identifies a as class<string>
d = False            # Identifies a as class<Bool>
e = None             # Identifies a as class<None>

In [2]:
# printing the variables
print(a)
print(b)
print(c)
print(d)
print(e)

12
0.235
Amir
False
None

In [11]:
# check the variables datatype
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

#### Rules for defining a variable name: (Also applicable to other identifiers)

* A variable name can contain alphabets, digits, and underscore.
* A variable name can only start with an alphabet and underscore.
* A variable can’t start with a digit.
* No white space is allowed to be used inside a variable name.
* Variables is also case sensitive

In [ ]:
A2_ = "valid"
_as = "valid"
2aa = "invalid"
a m i r = "invalid"
A = "case sentive 1"
a = 345 "case senstive 2"

In [12]:
myFirstCode = "Camel Case"
MyFirstCode = "Pascal Case"
my_first_code = "Snake case"

## Operators
The following are some common operators in Python:

1. Arithmetic Operators (+, -, *, /, etc.)
2. Assignment Operators (=, +=, -=, etc.)
3. Comparison Operators (==, >=, <=, >, <, !=, etc.)
4. Logical Operators (and, or, not)

#### Arithmetic operators  (+, -, *, /, etc.)

In [21]:
a = 5
b = 4

In [22]:
# add
a + b

9

In [23]:
# subtract
a - b

1

In [24]:
# multiply
a * b

20

In [25]:
# division
a /b

1.25

In [26]:
# mode
a // b

1

In [27]:
# exponents
a ** b

625

#### Assignment Operators (=, +=, -=, etc.)

In [28]:
# +=
a = 2
a += 2        # a = a + 2
a

4

In [29]:
# -=
b = 4
b -= 1     # b = b - 1
b

3

In [30]:
# *=
c = 234
c *= 1    # c = c * 1
c

234

In [31]:
# / = 
d = 2
d /= 2   # d = d / 2
d

1.0

#### Comparison Operators (==, >=, <=, >, <, !=, etc.)

In [32]:
# equal to equal to
x = (1==1)
y = (2==1)
print(x, y)

True False

In [36]:
# greate than 
x = (2 > 3)
y = (3 > 2)
print(x , y)

False True

In [37]:
# less than
x = (4 < 5)
y = (6 < 2)
print(x, y)

True False

In [34]:
# greater than equal to
x = (2>=2)
y = (3>=2)
z = (4>=5)
print(x ,y, z)

True True False

In [35]:
# less than equal to
x = (2<=2)
y = (3<=2)
z = (4<=5)
print(x ,y, z)

True False True

In [39]:
# not equal to
x = (3!=3)
y = (3!=4)
print(x, y)

False True

#### Logical Operators (and, or, not)

In [45]:
# and
a = True                                       # both are true than true otherwise false
b = False
print("a and b is =", (a and b))

# example
print(2<2  and  4 >= 4)
print(3>2  and  4 >= 4)

a and b is = False
False
True

In [47]:
# or
a = True
b = False
print("a or b is =", (a or b))               # if one of them is true then true

# example
print( 2 > 4  or 3 > 2)          
print( 2 > 2 or 3 > 5)

a or b is = True
True
False

In [51]:
# not
a = True
b = False
print("not a =", (not a))               # if true then false if false then true

# example
print(not(3 > 4))
print(not(3 < 4))

not a = False
True
False

## type() function and Typecasting
type function is used to find the data type of a given variable in Python.

In [52]:
a = 2
b = "2"
c = 2.2
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

A number can be converted into a string and vice versa (if possible)

In [56]:
# int to float
a = 2
a = float(a)
print(a)
print(type(a))

2.0
<class 'float'>

In [57]:
# float to int
a = 2.2
a = int(a)
print(a)
print(type(a))

2
<class 'int'>

In [58]:
# float to string
a = 2.2
a = str(a)
print(a)
print(type(a))

2.2
<class 'str'>

In [59]:
# str to int
a = "33"
a = int(a)                 # in this case possible 
print(a + 4)

7

## Input function
This function allows the user to take input from the keyboard as a string.

In [62]:
a = input("Enter your name : " )

Enter your name : Amir Ali

In [63]:
a = input("Enter your name : " )
print(type(a))

Enter your name : 5
<class 'str'>

Note: The output of the input function is always a string even if the number is entered by the user.

Suppose if a user enters 34 then this 34 will automatically convert to “34” string literal.

In [66]:
a = input("Enter your number : " )
print(type(int(a)))                         # convert str to int

Enter your number : 12412411241
<class 'int'>